<h1>Dynamic list</h1>

<div ng-app="myApp">
    <div ng-controller="TrafficCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/Traffic/Create" class="btn btn-success">Create new</a>
                <button ng-click="toggleSearchMenuVisibility()" class="btn btn-default">
                    <span ng-show="!showSearchMenu">Show detailed search menu</span>
                    <span ng-show="showSearchMenu">Hide detailed search menu</span>
                </button>
                <button ng-click="toggleColumnMenuVisibility()" class="btn btn-default">
                    <span ng-show="!showColumnMenu">Show column visibility menu</span>
                    <span ng-show="showColumnMenu">Hide column visibility menu</span>
                </button>
            </div>
            <div class="panel-body" ng-show="!showSearchMenu">
                <label for="universal">Search by all data:</label>
                <input type="text" name="universal" ng-model="search.$" class="form-control" />
            </div>
            <div class="panel-body" ng-show="showSearchMenu">
                <div class="col-md-3">
                    <label for="id">ID:</label>
                    <input type="text" name="id" ng-model="search.ID" class="form-control">
                    <label for="updateDate">Update Date:</label>
                    <input type="text" name="updateDate" ng-model="search.UpdateDate" class="form-control">
                    <label for="flag">Flag:</label>
                    <input type="text" name="flag" ng-model="search.Flag" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="imo">IMO:</label>
                    <input type="text" name="imo" ng-model="search.IMO" class="form-control">
                    <label for="shipType">Ship Type:</label>
                    <input type="text" name="shipType" ng-model="search.ShipType" class="form-control">
                    <label for="owner">Owner:</label>
                    <input type="text" name="owner" ng-model="search.Owner" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="name">Name:</label>
                    <input type="text" name="name" ng-model="search.Name" class="form-control">
                    <label for="name">Class Society:</label>
                    <input type="text" name="name" ng-model="search.ClassSociety" class="form-control">
                </div>
            </div>
            <div class="panel-body" ng-show="showColumnMenu">
                <h3>Toggle visibility: </h3>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-class="activeColumnBtnID" ng-click="toggleColumnVisibility(1);">ID</button>
                    <button type="button" class="btn btn-default" ng-class="activeColumnBtnUpdateDate" ng-click="toggleColumnVisibility(2);">Update date</button>
                    <button type="button" class="btn btn-default" ng-class="activeColumnBtnName" ng-click="toggleColumnVisibility(3);">Name</button>
                    <button type="button" class="btn btn-default" ng-class="activeColumnBtnIMO" ng-click="toggleColumnVisibility(4);">IMO</button>
                    <button type="button" class="btn btn-default" ng-class="activeColumnBtnShipType" ng-click="toggleColumnVisibility(5);">Ship Type</button>
                    <button type="button" class="btn btn-default" ng-class="activeColumnBtnClassSociety" ng-click="toggleColumnVisibility(6);">Class Society</button>
                    <button type="button" class="btn btn-default" ng-class="activeColumnBtnFlag" ng-click="toggleColumnVisibility(7);">Flag</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <tr>
                <th ng-click="predicate = 'RowNumber'; reverse=!reverse"><a href="#">#</a></th>
                <th ng-show="showColumnID" ng-click="predicate = 'ID'; reverse=!reverse"><a href="#">ID</a></th>
                <th ng-show="showColumnUpdateDate" ng-click="predicate = 'UpdateDate'; reverse=!reverse"><a href="#">Update date</a></th>
                <th ng-show="showColumnName" ng-click="predicate = 'Name'; reverse=!reverse"><a href="#">Name</a></th>
                <th ng-show="showColumnIMO" ng-click="predicate = 'IMO'; reverse=!reverse"><a href="#">IMO</a></th>
                <th ng-show="showColumnShipType" ng-click="predicate = 'ShipType'; reverse=!reverse"><a href="#">Ship Type</a></th>
                <th ng-show="showColumnClassSociety" ng-click="predicate = 'ClassSociety'; reverse=!reverse"><a href="#">Class Society</a></th>
                <th ng-show="showColumnFlag" ng-click="predicate = 'Flag'; reverse=!reverse"><a href="#">Flag</a></th>
                <th>Actions</th>
                @*<th ng-show="showColumnBuilder">Builder</th>
                <th ng-show="showColumnDWT">Death Weight Tonnage</th>
                <th ng-show="showColumnFormerNames">Former Names</th>
                <th ng-show="showColumnGT">Gross Tonnage</th>
                <th ng-show="showColumnHomePort">Home Port</th>
                <th ng-show="showColumnMMSI">MMSI</th>
                <th ng-show="showColumnManager">Manager</th>
                <th ng-show="showColumnOwner">Owner</th>
                <th ng-show="showColumnYOB">Year Of Build</th>*@
            </tr>
            <tr ng-repeat="ship in traffic | filter:search | orderBy:predicate:reverse">
                <td>{{ship.RowNumber}}</td>
                <td ng-show="showColumnID">{{ship.ID}}</td>
                <td ng-show="showColumnUpdateDate">{{ship.UpdateDate}}</td>
                <td ng-show="showColumnName">{{ship.Name}}</td>
                <td ng-show="showColumnIMO">{{ship.IMO}}</td>
                <td ng-show="showColumnShipType">{{ship.ShipType}}</td>
                <td ng-show="showColumnClassSociety">{{ship.ClassSociety}}</td>
                <td ng-show="showColumnFlag">{{ship.Flag}}</td>
                @*<td>{{ship.Builder}}</td>
            <td>{{ship.DeathWeightTonnage}}</td>
            <td>{{ship.FormerNames}}</td>
            <td>{{ship.GrossTonnage}}</td>
            <td>{{ship.HomePort}}</td>
            <td>{{ship.MMSI}}</td>
            <td>{{ship.Manager}}</td>
            <td>{{ship.Owner}}</td>
            <td>{{ship.YearOfBuild}}</td>*@
                <td><a href="/Traffic/Edit/{{ship.ID}}">Edit</a> | <a href="/Traffic/Delete/{{ship.ID}}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/angular.js"> </script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/dynamicList/main.js"> </script>
}